body{
    background-color: gray ;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
.photo{
    border: 2px solid black;
    border-radius: 50%;
}

#title, .sub_title, .post_title {
color: black;
}
#title{
    font-size: 15px;
    text-transform: uppercase;
}
a {
    text-decoration: underline;
    color: black;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 5;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding: 15px;
}
.contact_list li a{
    text-decoration: none;
}